/* ~~~~~ GLOBAL RULES ~~~~~ */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:hover {
  border: none;
  outline: none;
}

html {
  color: slateblue;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  margin: 0;
  height: 121vh;
  width: 100%;
}

.squares {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

/* ~~~~~ Left ~~~~~ */
.left {
  align-items: center;
  background-image: linear-gradient(lavender, #f0eadc, #b9efe1);
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  height: 100%;
  width: 28%;
}

.player1-icon {
  display: flex;
  font-size: 3em;
  padding-top: 7%;
}

.left-Player {
  display: flex;
  color: slateblue;
}

/* ~~~~~ MIDDLE GRID ~~~~~ */
.middle-box {
  height: 100%;
  width: 53%;
}

.top-title,
.winner-declaration {
  align-items: center;
  background-image: linear-gradient(#f0eadc 1%, #b9efe1, lavender);
  display: flex;
  flex-direction: column-reverse;
  font-size: 2em;
  padding-bottom: 5%;
}

.game-board-grid {
  background-image: linear-gradient(#f0eadc 1%, #b9efe1, lavender);
  background-size: contain;
  box-shadow: 0 4px 8px 0 lavender;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  height: 100vh;
  justify-content: center;
  padding: 2%;
}

.board-squares {
  align-items: center;
  background: #FFFFFF;
  border: 4px solid lavender;
  box-shadow: 10px 5px 5px lavender;
  display: flex;
  flex-direction: column;
  font-size: 10em;
  justify-content: center;
  padding: 3%;
}

/* ~~~~~ RIGHT ~~~~~ */
.right {
  align-items: center;
  background-image: linear-gradient(lavender, #f0eadc, #b9efe1);
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  height: 100%;
  width: 28%;
}

.right-player {
  color: slateblue;
  display: flex;
}

.player2-icon {
  display: flex;
  font-size: 3em;
  padding-top: 7%;
}
