/* ~~~~~ GLOBAL RULES ~~~~~ */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: slateblue;
}

button:hover {
  border: none;
}

.squares {
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
}

.main {
  display: flex;
  margin: 0;
  width: 100%;
}

/* ~~~~~ Left ~~~~~ */
.left {
  background-image: linear-gradient(lavender, #f0eadc, #b9efe1);
  width: 28vh;
  height: 104vh;
}

.player1-icon {
  display: flex;
}

.left-Player {
  display: flex;
  color: slateblue;

}
